@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.slider.slider--tablet-up {
		position: relative;
		flex-wrap: inherit;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		scroll-padding-left: 1rem;
		-webkit-overflow-scrolling: touch;
	}

	.slider.slider--tablet-up .slider__slide {
		margin-bottom: 0;
	}

	.slider-counter--dots {
		margin: 0 1.2rem;
	}

	.slider--mobile + .slider-buttons {
		display: none;
	}
}
