{% comment %}
	-- image (image_picker)
	-- image_mobile (image_picker)
	-- video (video)
	-- video_mobile (video)
	-- multiplier
	-- alt
	-- loading (lazy, eager, defer)
	-- id
	-- starting_width
	-- aspect_ratio (portrait, landscape, square, fill, adapt)
	-- aspect_ratio_mobile (portrait, landscape, square, fill, adapt)
	-- class
	-- class_mobile
	-- position_class
	-- position_class_mobile
	-- custom_attributes
	-- disable_media_settings (bool)
{% endcomment %}
{% liquid
    unless multiplier
        assign multiplier = 1
    endunless
    unless alt
        assign alt = image.alt
        assign alt_mobile = image_mobile.alt
    endunless
    unless loading
        assign loading = 'eager'
    endunless
    case loading
        when 'lazy'
            assign preload = false
        when 'eager'
            assign preload = true
        when 'defer'
            assign preload = false
    endcase
    unless id
        assign id = image.id
    endunless
    unless starting_width
        if loading == 'eager'
            assign starting_width = 3600
        else
            assign starting_width = 180
        endif
    endunless
    unless position_class
        assign position_class = 'relative'
    endunless
    unless position_class_mobile
        assign position_class_mobile = position_class
    endunless
    unless display_class
        assign display_class = 'block'
    endunless
    unless display_class_mobile
        assign display_class_mobile = display_class
    endunless
    case aspect_ratio
        when 'portrait'
            assign aspect_ratio_class = 'r-portrait'
        when 'landscape'
            assign aspect_ratio_class = 'r-landscape'
        when 'square'
            assign aspect_ratio_class = 'r-square'
        when 'fill'
            assign aspect_ratio_class = 'r-fill'
        when 'circle'
            assign aspect_ratio_class = 'r-circle'
        when 'adapt'
            assign aspect_ratio_class = 'r-adapt'
        else
            assign aspect_ratio = 'adapt'
            assign aspect_ratio_class = 'r-adapt'
    endcase
    unless aspect_ratio_class_mobile
        assign aspect_ratio_class_mobile = aspect_ratio_class
    else
        case aspect_ratio_mobile
            when 'portrait'
                assign aspect_ratio_class_mobile = 'r-portrait--s-down'
            when 'landscape'
                assign aspect_ratio_class_mobile = 'r-landscape--s-down'
            when 'square'
                assign aspect_ratio_class_mobile = 'r-square--s-down'
            when 'fill'
                assign aspect_ratio_class_mobile = 'r-fill--s-down'
            when 'circle'
                assign aspect_ratio_class_mobile = 'r-circle--s-down'
            when 'adapt'
                assign aspect_ratio_class_mobile = 'r-adapt--s-down'
            else
                assign aspect_ratio_mobile = 'adapt'
                assign aspect_ratio_class_mobile = 'r-adapt--s-down'
        endcase
    endunless

    assign wrapper_class = wrapper_class | append: ' ' | append: aspect_ratio_class | append: ' ' | append: position_class | append: ' ' | append: display_class
    assign media_class = media_class | append: ' w-100 h-100 object-cover media__item'
    assign wrapper_class_mobile = wrapper_class | append: ' s-up-hide ' | append: aspect_ratio_class_mobile | append: ' ' | append: position_class_mobile | append: ' ' | append: display_class
    assign media_class_mobile = media_class_mobile | append: ' w-100 h-100 object-cover media__item'

    if video and image
        assign preview_image = image
    else
        assign preview_image = video.preview_image
    endif

    if video_mobile and image_mobile
        assign preview_image_mobile = image_mobile
    elsif video_mobile and image
        assign preview_image_mobile = image
    else
        assign preview_image_mobile = video_mobile.preview_image
    endif

    unless disable_media_settings
        assign wrapper_class = wrapper_class | append: ' global-media-settings' | append: class
        assign wrapper_class_mobile = wrapper_class_mobile | append: ' global-media-settings' | append: class_mobile
    endunless
%}
{%- if video != blank -%}
    {% if video_mobile != blank %}
        {% render 'ucoast-video',
                video: video_mobile,
                wrapper_class: wrapper_class_mobile,
                video_class: media_class_mobile,
                preview_image: preview_image_mobile,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio_mobile
        %}
        {% render 'ucoast-video',
                video: video,
                wrapper_class: wrapper_class,
                video_class: media_class,
                preview_image: preview_image,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio
        %}
    {% elsif image_mobile != blank %}
        {% render 'ucoast-image',
                image: image,
                image_class: media_class_mobile,
                wrapper_class: wrapper_class_mobile,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio_mobile,
                starting_width: starting_width
        %}
        {% render 'ucoast-video',
                video: video,
                preview_image: preview_image,
                wrapper_class: wrapper_class,
                video_class: media_class,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio
        %}
    {% else %}
        {% render 'ucoast-video',
                video: video,
                wrapper_class: wrapper_class,
                video_class: media_class,
                preview_image: preview_image,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio
        %}
    {% endif %}
{%- elsif image != blank -%}
    {% if image_mobile != blank %}
        {% render 'ucoast-image',
                image: image_mobile,
                image_class: media_class_mobile,
                wrapper_class: wrapper_class_mobile,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio_mobile,
                starting_width: starting_width
        %}
        {% render 'ucoast-image',
                image: image,
                image_class: media_class,
                wrapper_class: wrapper_class,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio,
                starting_width: starting_width
        %}
    {% else %}
        {% render 'ucoast-image',
                image: image,
                image_class: image_class,
                wrapper_class: wrapper_class,
                loading: loading,
                custom_attributes: custom_attributes,
                multiplier: multiplier,
                alt: alt,
                media_child: media_child,
                aspect_ratio: aspect_ratio,
                starting_width: starting_width
        %}
    {% endif %}
{%- else -%}
    <div class="{{ wrapper_class }}">
        {{ 'detailed-apparel-1' | placeholder_svg_tag: media_class }}
    </div>
{%- endif -%}
