@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	body {
		font-size: #{$ax16};
		line-height: calc(1 + 0.8 / #{$fontBodyScale});
	}

	.password-modal__content-heading {
		font-size: #{$ax18};
	}

	.password-modal__content-heading {
		font-size: #{$ax18};
	}

	.password-button {
		margin-top: 0;
		margin-left: #{$ax20};
		width: auto;
		align-self: start;
	}

	.password-logo {
		margin-bottom: 0;
	}

	.password-header {
		display: grid;
		gap: #{$ax30};
		grid-template-columns: 1fr 1.5fr 1fr;
		padding: #{$ax20} #{$ax50} #{$ax25};
		text-align: left;
	}
}
