@import './variables.scss';
@import './functions.scss';
.text-body {
	font-size: #{$ax15};
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / #{$fontBodyScale});
	font-family: #{$fontBodyFamily};
	font-style: #{$fontBodyStyle};
	font-weight: #{$fontBodyWeight};
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
	font-family: #{$fontHeadingFamily};
	font-style: #{$fontHeadingStyle};
	font-weight: #{$fontHeadingWeight};
	letter-spacing: calc(#{$fontHeadingScale} * 0.06rem);
	color: rgb(#{$schemaColorForeground});
	line-height: calc(1 + 0.3 / max(1, #{$fontHeadingScale}));
	word-break: break-word;
}

.hxl {
	font-size: calc(#{$fontHeadingScale} * 5rem);
}

@include media-query($s-up) {
	.hxl {
		font-size: calc(#{$fontHeadingScale} * 6.2rem);
	}
}

.h0 {
	font-size: calc(#{$fontHeadingScale} * 4rem);
}

@include media-query($s-up) {
	.h0 {
		font-size: calc(#{$fontHeadingScale} * 5.2rem);
	}
}

h1,
.h1 {
	font-size: calc(#{$fontHeadingScale} * 3rem);
}

@include media-query($s-up) {
	h1,
	.h1 {
		font-size: calc(#{$fontHeadingScale} * 4rem);
	}
}

h2,
.h2 {
	font-size: calc(#{$fontHeadingScale} * 2rem);
}

@include media-query($s-up) {
	h2,
	.h2 {
		font-size: calc(#{$fontHeadingScale} * #{$ax24});
	}
}

h3,
.h3 {
	font-size: calc(#{$fontHeadingScale} * #{$ax17});
}

@include media-query($s-up) {
	h3,
	.h3 {
		font-size: calc(#{$fontHeadingScale} * #{$ax18});
	}
}

h4,
.h4 {
	font-family: #{$fontHeadingFamily};
	font-style: #{$fontHeadingStyle};
	font-size: calc(#{$fontHeadingScale} * #{$ax15});
}

h5,
.h5 {
	font-size: calc(#{$fontHeadingScale} * #{$ax12});
}

@include media-query($s-up) {
	h5,
	.h5 {
		font-size: calc(#{$fontHeadingScale} * #{$ax13});
	}
}

h6,
.h6 {
	color: rgba(#{$schemaColorForeground}, 0.75);
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
}

blockquote {
	font-style: italic;
	color: rgba(#{$schemaColorForeground}, 0.75);
	border-left: #{$ax2} solid rgba(#{$schemaColorForeground}, 0.2);
	padding-left: 1rem;
}

@include media-query($s-up) {
	blockquote {
		padding-left: #{$ax15};
	}
}

.caption {
	font-size: 1rem;
	letter-spacing: 0.07rem;
	line-height: calc(1 + 0.7 / #{$fontBodyScale});
}

@include media-query($s-up) {
	.caption {
		font-size: #{$ax12};
	}
}

.caption-with-letter-spacing {
	font-size: 1rem;
	letter-spacing: 0.13em;
	line-height: calc(1 + 0.2 / #{$fontBodyScale});
	text-transform: uppercase;
}

.caption-with-letter-spacing--medium {
	font-size: #{$ax12};
	letter-spacing: 0.1334em;
}

.caption-with-letter-spacing--large {
	font-size: #{$ax14};
	letter-spacing: 0.01286em;
}

.caption-large,
.customer .field input,
.customer select,
.field__input,
.form__label,
.select__select {
	font-size: #{$ax13};
	line-height: calc(1 + 0.5 / #{$fontBodyScale});
	letter-spacing: 0.04rem;
}

.color-foreground {
	color: rgb(#{$schemaColorForeground});
}

table:not([class]) {
	table-layout: fixed;
	border-collapse: collapse;
	font-size: #{$ax14};
	border-style: hidden;
	box-shadow: 0 0 0 #{$ax1} rgba(#{$schemaColorForeground}, 0.2);
	/* draws the table border  */
}

table:not([class]) td,
table:not([class]) th {
	padding: 1em;
	border: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.2);
}
a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
	display: none;
}

.link,
.customer a {
	cursor: pointer;
	display: inline-block;
	border: none;
	box-shadow: none;
	text-decoration: underline;
	text-underline-offset: #{$ax3};
	color: rgb(#{$schemaColorLink});
	background-color: transparent;
	font-size: #{$ax14};
	font-family: inherit;
}

.link--text {
	color: rgb(#{$schemaColorForeground});
}

.link--text:hover {
	color: rgba(#{$schemaColorForeground}, 0.75);
}

.link-with-icon {
	display: inline-flex;
	font-size: #{$ax14};
	font-weight: 600;
	letter-spacing: 0.00714em;
	text-decoration: none;
	margin-bottom: #{$ax45};
	white-space: nowrap;
}

.link-with-icon .icon {
	width: #{$ax15};
	margin-left: 1rem;
}

a:not([href]) {
	cursor: not-allowed;
}
