@import './variables.scss';
@import './functions.scss';
.mini {
	@include clampSize(11, 14);
	letter-spacing: -.03em;
	line-height: 1.15;
	font-family: #{$fontBodyFamily};
	font-style: #{$fontBodyStyle};
	font-weight: #{$fontBodyWeight};
}
.text-body {
	font-size: #{$ax15};
	letter-spacing: 0.01em;
	line-height: 1.15;
	font-family: #{$fontBodyFamily};
	font-style: #{$fontBodyStyle};
	font-weight: #{$fontBodyWeight};
}

.text-large {
	@include clampSize(18, 21);
	letter-spacing: 0.01em;
	line-height: 1.15;
	font-family: #{$fontBodyFamily};
	font-style: #{$fontBodyStyle};
	font-weight: #{$fontBodyWeight};
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
	font-family: #{$fontHeadingFamily};
	font-style: #{$fontHeadingStyle};
	font-weight: #{$fontHeadingWeight};
	letter-spacing: -0.03em;
	color: rgb(#{$schemaColorForeground});
	line-height: calc(1 + 0.3 / max(1, #{$fontHeadingScale}));
	word-break: break-word;
}

.hxl {
	font-size: calc(#{$fontHeadingScale} * #{$ax50});
}

@include media-query($s-up) {
	.hxl {
		font-size: calc(#{$fontHeadingScale} * #{ax(62)});
	}
}

.h0 {
	font-size: calc(#{$fontHeadingScale} * #{$ax40});
}

@include media-query($s-up) {
	.h0 {
		font-size: calc(#{$fontHeadingScale} * #{ax(52)});
	}
}

h1,
.h1 {
	font-size: calc(#{$fontHeadingScale} * #{$ax30});
	font-family: 'CircularStd', sans-serif;
	font-weight: 500;
	font-style: normal;
	@include clampSize(48, 80);
	line-height: 1.3;
}

.h2-alt {
	@include clampSize(22, 32);
	font-weight: 400;
	line-height: 1;
	font-family: 'CircularStd';
}

h2,
.h2 {
	font-family: 'Canela', serif;
	font-style: normal;
	@include clampSize(24, 30);
	line-height: 1.3;
	font-weight: 400;
}


h3,
.h3 {
	font-size: calc(#{$fontHeadingScale} * #{$ax30});
	font-family: 'CircularStd', sans-serif;
	font-weight: 400;
	font-style: normal;
	@include clampSize(24, 32);
	line-height: 1;
}

h4,
.h4 {
	font-family: #{$fontHeadingFamily};
	font-style: #{$fontHeadingStyle};
	font-size: calc(#{$fontHeadingScale} * #{$ax15});
}

h5,
.h5 {
	font-size: calc(#{$fontHeadingScale} * #{$ax12});
}

@include media-query($s-up) {
	h5,
	.h5 {
		font-size: calc(#{$fontHeadingScale} * #{$ax13});
	}
}

h6,
.h6 {
	color: rgba(#{$schemaColorForeground}, 0.75);
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
}

blockquote {
	font-style: italic;
	color: rgba(#{$schemaColorForeground}, 0.75);
	border-left: #{$ax2} solid rgba(#{$schemaColorForeground}, 0.2);
	padding-left: #{$ax10};
}

@include media-query($s-up) {
	blockquote {
		padding-left: #{$ax15};
	}
}

.caption {
	font-size: #{$ax10};
	letter-spacing: 0.01em;
	line-height: calc(1 + 0.7 / #{$fontBodyScale});
}

@include media-query($s-up) {
	.caption {
		font-size: #{$ax12};
	}
}

.caption-with-letter-spacing {
	font-size: #{$ax10};
	letter-spacing: 0.03em;
	line-height: calc(1 + 0.2 / #{$fontBodyScale});
	text-transform: uppercase;
}

.caption-with-letter-spacing--medium {
	font-size: #{$ax12};
	letter-spacing: 0.03em;
}

.caption-with-letter-spacing--large {
	font-size: #{$ax14};
	letter-spacing: 0.01em;
}

.caption-large,
.customer .field input,
.customer select,
.field__input,
.form__label,
.select__select {
	font-size: #{$ax13};
	line-height: calc(1 + 0.5 / #{$fontBodyScale});
	letter-spacing: 0.01em;
}

.color-foreground {
	color: rgb(#{$schemaColorForeground});
}

table:not([class]) {
	table-layout: fixed;
	border-collapse: collapse;
	font-size: #{$ax14};
	border-style: hidden;
	box-shadow: 0 0 0 #{$ax1} rgba(#{$schemaColorForeground}, 0.2);
	/* draws the table border  */
}

table:not([class]) td,
table:not([class]) th {
	padding: 1em;
	border: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.2);
}
a:empty:not(.empty),
ul:empty:not(.empty),
dl:empty:not(.empty),
div:empty:not(.empty),
section:empty:not(.empty),
article:empty:not(.empty),
p:empty:not(.empty),
h1:empty:not(.empty),
h2:empty:not(.empty),
h3:empty:not(.empty),
h4:empty:not(.empty),
h5:empty:not(.empty),
h6:empty:not(.empty) {
	display: none;
}

.link,
.customer a {
	cursor: pointer;
	display: inline-block;
	border: none;
	box-shadow: none;
	color: rgb(#{$schemaColorLink});
	background-color: transparent;
	font-size: #{$ax14};
	font-family: inherit;
}

.link--text {
	color: rgb(#{$schemaColorForeground});
}

.link--text:hover {
	color: rgba(#{$schemaColorForeground}, 0.75);
}

.link-with-icon {
	display: inline-flex;
	font-size: #{$ax14};
	font-weight: 600;
	letter-spacing: 0.01em;
	text-decoration: none;
	margin-bottom: #{$ax45};
	white-space: nowrap;
}

.link-with-icon .icon {
	width: #{$ax15};
	margin-left: #{$ax10};
}

a:not([href]) {
	cursor: not-allowed;
}
