@import "../../global/variables.scss";
@import "../../global/functions.scss";
.discounts {
  font-size: 1.2rem;
}

.discounts__discount {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.5 / #{$fontBodyScale});
}

.discounts__discount svg {
  color: rgba(#{$schemaColorButton}, var(--alpha-button-background));
}

.discounts__discount--position {
  justify-content: center;
}



.discounts__discount > .icon {
  color: rgb(#{$schemaColorForeground});
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}
