@import "../global/variables";
@import "../global/functions";
.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 $ax15 $ax15;

  h2, p {
    margin: 0;
  }
}


.totals * {
  line-height: 1;
}



.cart__ctas + .totals {
  margin-top: #{$ax20};
}
@include media-query($s-up) {
  .totals {
    justify-content: flex-end;
  }
}
