@import "../global/variables";
@import "../global/functions";
.search__input.field__input {
  padding-right: ax(98);
}

.search__button {
  right: #{$inputsBorderWidth};
  top: #{$inputsBorderWidth};
}

.reset__button {
  right: calc(#{$inputsBorderWidth} + #{$ax44});
  top: #{$inputsBorderWidth};
}

.reset__button:not(:focus-visible)::after {
  border-right: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.08);
  display: block;
  height: calc(100% - #{$ax16});
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.08);
  display: block;
  height: calc(100% - #{$ax18});
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(#{$schemaColorBackground});
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(#{$schemaColorBackground});
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: #{$ax18};
  width: #{$ax18};
}

.reset__button .icon.icon-close {
  height: #{$ax18};
  width: #{$ax18};
  stroke-width: #{$ax1};
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
