@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.featured-product .product__media-item {
		padding-bottom: 0;
	}

	.background-secondary .featured-product {
		padding: #{$ax50};
	}
}
@include media-query($m-up) {
	.background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
		padding: 0 0 0 #{$ax50};
	}

	.background-secondary
	.featured-product:not(.product--no-media).product--right
	> .product__info-wrapper {
		padding: 0 #{$ax50} 0 0;
	}

	.featured-product:not(.product--no-media) > .product__info-wrapper {
		padding: 0 7rem;
	}

	.background-secondary .featured-product {
		padding: #{ax(60)} 7rem;
		position: relative;
		z-index: 1;
	}
}
