{% capture block_content_variables %}
    {% render 'content-variables',
            position: block.settings.content_alignment,
            wrap_width: block.settings.wrap_width,
            mobile_wrap_percent: block.settings.mobile_wrap_percent
    %}
{% endcapture %}
<span
        style="{{ block_content_variables }}"
        class="block tb tb--text tb--text-rich content-settings {{ block.settings.heading_size }}"
>
	{{ block.settings.title }}
</span>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "tt-uppercase caption-with-letter-spacing",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "text-body",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "text-large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "text-body",
      "label": "Text Size"
    },
    {
      "type": "header",
      "content": "Text Wrap"
    },
    {
      "type": "range",
      "id": "wrap_width",
      "min": 220,
      "max": 720,
      "step": 5,
      "unit": "ax",
      "label": "Max Width",
      "default": 415
    },
    {
      "type": "range",
      "id": "mobile_wrap_percent",
      "label": "Mobile Text Wrap %",
      "min": 51,
      "max": 150,
      "default": 100,
      "unit": "%",
      "step": 1,
      "info": "Fine tune adjustment for mobile text wrap. % is based on the desktop text wrap limit."
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    }
  ],
  "presets": [
    { "name": "Rich Text" },
    {
      "name": "Rich Texts",
      "settings": {
        "title": "<p>Hello, world!</p>"
      }
    }
  ]
}
{% endschema %}
