@import "../../global/variables.scss";
@import "../../global/functions.scss";
.button-show-more {
  padding-left: 0;
  justify-content: flex-start;
  padding-bottom: #{$ax11};
}

.button-show-more,
.button-show-less {
  margin-top: #{$ax15};
}
