@import "../variables.scss";
@import "../functions.scss";

@include media-query($m-up) {
  .m-up-hide {
    display: none !important;
  }
  .my-auto--m-up {
    margin-top: auto;
    margin-bottom: auto;
  }
  .flex--m-up {
    display: flex;
  }
  .viewport--m-up {
    height: $viewport;
  }
  .vp-header--m-up {
    height: calc(#{$viewport} - #{$headerHeight});
  }
  .vp-header-x--m-up {
    height: calc(#{$viewport} - #{$headerHeight} - #{$xSpacing});
  }
  .vp-announcement--m-up {
    height: calc(#{$viewport} - #{$announcementHeight});
  }
  .vp-combined--m-up {
    @include media-query($m-up) {
      height: calc(#{$viewport} - #{$headerHeight} - #{$announcementHeight});
    }
  }
}
