@import "../../global/variables.scss";
@import "../../global/functions.scss";
.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: #{$ax45} 0 2rem;
}

.cart__contents > * + * {
  margin-top: #{$ax25};
}

.cart__login-title {
  margin: ax(55) 0 #{$ax5};
}

.cart__login-paragraph {
  margin-top: #{$ax8};
}

.cart__login-paragraph a {
  font-size: inherit;
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: #{$ax18};
  top: -3rem;
  color: rgba(#{$schemaColorForeground}, 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: #{$inputsRadius};
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: #{$buttonsRadiusOutset} !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / #{$fontBodyScale});
}

.tax-note {
  margin: #{$ax22} 0 #{$ax16} auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}
