@import '../../global/variables';
@import '../../global/functions';
.blog-placeholder-svg {
	height: 100%;
}

.blog__posts.articles-wrapper {
	margin-bottom: #{$ax10};
}

.blog__posts.articles-wrapper .article {
	scroll-snap-align: start;
}

@include media-query($s-down) {
	.blog__post.article {
		width: calc(100% - #{$ax30} - #{$xSpacingMobile});
	}
}

.background-secondary .blog-placeholder__content {
	background-color: rgb(#{$schemaColorBackground});
}

.blog__button {
	margin-top: #{$ax30};
}
