@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.header-wrapper:not(.header-wrapper--border-bottom) + cart-notification .cart-notification {
		border-top-width: #{$popupBorderWidth};
	}

	.cart-notification {
		border-width: 0 #{$popupBorderWidth} #{$popupBorderWidth};
		max-width: 36.8rem;
		right: 2.2rem;
	}
}
