@import '../../global/variables.scss';
@import '../../global/functions.scss';
.cart-notification-wrapper {
	position: relative;
}

.cart-notification-wrapper .cart-notification {
	display: block;
}

.cart-notification {
	border-bottom-right-radius: #{$popupCornerRadius};
	border-bottom-left-radius: #{$popupCornerRadius};
	border-color: rgba(#{$schemaColorForeground}, #{$popupBorderOpacity});
	border-style: solid;
	border-width: 0 0 #{$popupBorderWidth};
	padding: #{$ax25} #{$ax35};
	position: absolute;
	right: 0;
	transform: translateY(-100%);
	visibility: hidden;
	width: 100%;
	box-shadow: #{$popupShadowHorizontalOffset} #{$popupShadowVerticalOffset}
		#{$popupShadowBlurRadius} rgba(#{$schemaColorShadow}, #{$popupShadowOpacity});
	z-index: -1;
}

.cart-notification.focused {
	box-shadow: 0 0 #{$ax2} 0 rgba(#{$schemaColorForeground}, 0.3),
		#{$popupShadowHorizontalOffset} #{$popupShadowVerticalOffset}
			#{$popupShadowBlurRadius} rgba(#{$schemaColorShadow}, #{$popupShadowOpacity});
}

.cart-notification:focus-visible {
	box-shadow: 0 0 #{$ax2} 0 rgba(#{$schemaColorForeground}, 0.3),
		#{$popupShadowHorizontalOffset} #{$popupShadowVerticalOffset}
			#{$popupShadowBlurRadius} rgba(#{$schemaColorShadow}, #{$popupShadowOpacity});
}

.cart-notification.animate {
	transition: transform var(--duration-short) ease, visibility 0s var(--duration-short) ease;
}

.cart-notification.active {
	transform: translateY(0);
	transition: transform var(--duration-default) ease, visibility 0s;
	visibility: visible;
}

.cart-notification__header {
	align-items: flex-start;
	display: flex;
}

.cart-notification__heading {
	align-items: center;
	display: flex;
	flex-grow: 1;
	margin-bottom: 0;
	margin-top: 0;
}

.cart-notification__heading .icon-checkmark {
	color: rgb(#{$schemaColorForeground});
	margin-right: 1rem;
	width: #{$ax13};
}

.cart-notification__close {
	margin-top: -2rem;
	margin-right: -3rem;
}

.cart-notification__links {
	text-align: center;
}

.cart-notification__links > * {
	margin-top: 1rem;
}

.cart-notification-product {
	align-items: flex-start;
	display: flex;
	padding-bottom: 3rem;
	padding-top: 2rem;
}

.cart-notification-product dl {
	margin-bottom: 0;
	margin-top: 0;
}

.cart-notification-product__image {
	display: inline-flex;
	margin-right: #{$ax15};
	margin-top: #{$ax5};
}

.cart-notification-product__image:after {
	content: none;
}

.cart-notification-product__name {
	margin-bottom: #{$ax5};
	margin-top: 0;
}
