@import "../../global/variables.scss";
@import "../../global/functions.scss";
.list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem 0;
  padding-top: 1rem;
  padding-left: 0;
}

.list-payment__item {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}
