@import "../global/variables";
@import "../global/functions";
.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@include media-query($s-down) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: #{$ax18};
  width: #{$ax18};
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: #{$ax13};
  color: rgb(#{$schemaColorForeground});
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
