@import "../global/variables";
@import "../global/functions";
[data-uc-loading-overlay] {
  position: absolute;
  z-index: 1;
  width: #{$ax18};
}

@include media-query($s-down) {
  [data-uc-loading-overlay] {
    top: 0;
    right: 0;
  }
}

[data-uc-loading-overlay-spinner] {
  width: #{$ax18};
  display: inline-block;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: rgb(#{$schemaColorForeground});
  animation: dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .path {
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

[data-uc-loading-overlay]:not(.hidden) + .cart-item__price-wrapper,
[data-uc-loading-overlay]:not(.hidden) ~ cart-remove-button {
  opacity: 50%;
}

[data-uc-loading-overlay]:not(.hidden) ~ cart-remove-button {
  pointer-events: none;
  cursor: default;
}
@include media-query($s-up) {
  [data-uc-loading-overlay] {
    left: 0;
  }
}
