@import '../global/variables';
@import '../global/functions';
$block: 'dynamic-progress-bar';
.#{$block} {
	padding: 0 $ax15;
	height: $ax20;
	&__indicator {
		background-color: #90D3EE;
		border-radius: $ax10;
		overflow: hidden;
		width: calc(var(--progress-percent) - #{$ax30});
		transition: width 0.3s $bezier;
		left: $ax15;
		right: $ax15;
		max-width: calc(100% - #{$ax30});
	}
	&__background {
		background-color: rgb(#{$schemaColorBackground});
		border: $ax1 solid rgb(#{$schemaColorForeground});
		border-radius: $ax10;
		left: $ax16;
		right: $ax16;
		width: calc(100% - #{$ax32});
	}
	&__status {
		&__text {
			margin: 0;
			font-size: $ax10;
			padding: $ax2 $ax10;
		}
		&__container {
			border-radius: $ax10;
			background-color: rgb(#{$schemaColorBackground});
			overflow: hidden;
			width: calc(100% - #{$ax30});
			left: $ax15;
		}
	}
}
