@import "../global/variables";
@import "../global/functions";
.newsletter__wrapper {
  padding-right: calc(#{$ax40} / #{$fontBodyScale});
  padding-left: calc(#{$ax40} / #{$fontBodyScale});
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: #{$ax20};
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: #{$ax30};
}

.newsletter__subheading {
  max-width: ax(700);
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: ax(360);
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: #{$ax15};
}

.newsletter__button {
  margin-top: #{$ax30};
  width: fit-content;
}
@include media-query($s-up) {
  .newsletter__wrapper {
    padding-right: #{ax(90)};
    padding-left: #{ax(90)};
  }
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 #{$ax10};
  }
}
