@import '../global/variables';
@import '../global/functions';
.blog-placeholder-svg {
	height: 100%;
}

.blog__posts.articles-wrapper {
	margin-bottom: #{$ax10};
}

.blog__posts.articles-wrapper .article {
	scroll-snap-align: start;
}

@include media-query($s-down) {
	.blog__post.article {
		width: calc(100% - #{$ax30} - #{$xSpacingMobile});
	}
}

.background-secondary .blog-placeholder__content {
	background-color: rgb(#{$schemaColorBackground});
}

.blog__button {
	margin-top: #{$ax30};
}
@include media-query($s-up) {
	.blog__button {
		margin-top: #{$ax50};
	}
}
/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
	@include media-query($s-up) {
		.blog__posts .article + .article {
			margin-left: #{$xSpacingDesktop};
		}
	}
}
@include media-query($m-up) {
	.grid--1-col-desktop .article-card .card__content {
		text-align: center;
	}
}
@include media-query($m-up) {
	.blog__posts.articles-wrapper {
		margin-bottom: 0;
	}
}
