@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-up) {
  .facets-container > * + * {
    margin-top: 0;
  }

  .facets__form .product-count {
    grid-column-start: 3;
    align-self: flex-start;
  }
  .facets-vertical {
    display: flex;
  }

  .facets-wrap-vertical {
    border: none;
    padding-left: 0;
  }

  .facets__form-vertical {
    display: flex;
    flex-direction: column;
    width: ax(260);
  }

  .facets__disclosure-vertical {
    border-top: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.1);
    margin-right: 0;
  }

  .facets-vertical .facets__summary {
    padding-top: #{$ax15};
    margin-bottom: 0;
    padding-bottom: #{$ax15};
  }

  .facets__heading--vertical {
    margin: 0 0 #{$ax15} 0;
    font-size: #{$ax15};
  }

  .facets__header-vertical {
    padding: #{$ax15} #{$ax20} #{$ax15} 0;
    font-size: #{$ax14};
  }

  .facets__display-vertical {
    padding-bottom: #{$ax15};
  }

  .facets-vertical .facets-wrapper {
    padding-right: #{$ax30};
  }

  .facets-vertical .facets-wrapper--no-filters {
    display: none;
  }

  .no-js .facets-vertical .facets-wrapper--no-filters {
    display: block;
  }

  .facets-vertical .product-grid-container {
    width: 100%;
  }

  .facets-vertical-form {
    display: flex;
    justify-content: flex-end;
  }

  .product-count-vertical {
    margin-left: #{$ax35};
  }

  .facets-vertical .active-facets__button-wrapper {
    margin-bottom: #{$ax20};
  }

  .facets-vertical .no-js .facets__button-no-js {
    transform: none;
    margin-left: 0;
  }

  .facets-vertical .no-js .facet-filters__field {
    justify-content: flex-start;
    padding-bottom: #{$ax10};
    padding-top: #{$ax20};
  }

  .facets-vertical .facets__price {
    padding: #{$ax5} #{$ax5} #{$ax5} 0;
  }

  .facets-vertical .facets__price .field:last-of-type {
    margin-left: #{$ax10};
  }

  .facets-vertical .active-facets__button {
    margin-bottom: #{$ax15};
  }

  .no-js .facets-vertical .facet-filters.sorting {
    padding-left: 0;
    flex-direction: column;
  }

  .facets-vertical .facet-checkbox input[type='checkbox'] {
    z-index: 0;
  }

  .no-js .facets-vertical .facets-container {
    display: flex;
    flex-direction: column;
  }

  .facets-vertical .active-facets facet-remove:last-of-type {
    margin-bottom: #{$ax10};
  }

  .facets-vertical .active-facets {
    margin: 0;
    align-items: flex-start;
  }

  .facets__disclosure-vertical[open] .facets__summary .icon-caret {
    transform: rotate(180deg);
  }

  .facets-container-drawer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 0;
  }

  .facets-container-drawer .mobile-facets__wrapper {
    margin-right: #{$ax20};
    flex-grow: 1;
  }

  .facets-container-drawer .product-count {
    margin: 0 0 #{$ax5} #{$ax35};
  }

  .facets-container-drawer .facets-pill {
    width: 100%;
  }

  .facets-container-drawer .facets__form {
    display: block;
  }
}
@include media-query($m-up) {
  .facet-filters {
    padding-left: #{$ax30};
  }
  .active-facets__button {
    margin-right: #{$ax15};
  }

  .active-facets__button-wrapper *,
  span.active-facets__button-inner {
    font-size: #{$ax14};
  }
  .active-facets__button svg {
    margin-right: ax(-4);
    margin-top: #{$ax1};
    width: #{$ax14};
  }
  .facets-vertical .active-facets__button {
    padding: #{$ax10};
    margin-bottom: 0;
    margin-left: ax(-5);
  }

  .facets-vertical .active-facets__button-remove {
    padding: 0 #{$ax10} #{$ax10};
  }
}
