@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.article-card__image--small .ratio::before {
		padding-bottom: ax(143);
	}

	.article-card__image--medium .ratio::before {
		padding-bottom: ax(219);
	}

	.article-card__image--large .ratio::before {
		padding-bottom: ax(275);
	}
}
@supports not (inset: 10px) {
	@include media-query($s-up) {
		.articles-wrapper.grid {
			margin-bottom: 7rem;
		}
	}
}
@include media-query($m-up) {
	.article-card__link:not(:only-child) {
		margin-right: #{$ax40};
	}

	.article-card__image--small .ratio::before {
		padding-bottom: ax(177);
	}

	.article-card__image--medium .ratio::before {
		padding-bottom: ax(307);
	}

	.article-card__image--large .ratio::before {
		padding-bottom: ax(407);
	}
}
