@import '../global/variables';
@import '../global/functions';
.pagination-wrapper {
	margin-top: #{$ax40};
}


.pagination__list > li {
	width: $ax24;
	height: $ax24;
}

.pagination__list > li:not(:last-child) {
	margin-right: #{$ax10};
}

.pagination__item {
	color: rgb(#{$schemaColorForeground});
	text-decoration: none;
}

.pagination__item .icon-caret {
	height: #{$ax7};
	transform: translateY(-10%);
}



.pagination__item--next .icon {
	margin-left: #{ax(-2)};
	transform: rotate(90deg);
}

.pagination__item--prev .icon {
	margin-right: #{ax(-2)};
	transform: rotate(-90deg);
}
