@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-down) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include media-query($m-down) {
  .collection .slider.slider--tablet {
    margin-bottom: #{$ax15};
  }
}

.collection [data-uc-loading-overlay] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 #{$ax15};
  opacity: 0.7;
}

@include media-query($s-up) {
  .collection [data-uc-loading-overlay] {
    padding-left: #{$ax50};
    padding-right: #{$ax50};
  }
}

.collection.loading [data-uc-loading-overlay] {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: #{ax(100)};
  margin-bottom: #{ax(150)};
}

@include media-query($m-down) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: #{$ax15};
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: #{$ax25};
}

.collection__title .title:not(:only-child) {
  margin-bottom: #{$ax10};
}

@include media-query($m-up) {
  .collection__title--desktop-slider .title {
    margin-bottom: #{$ax25};
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 #{$ax50};
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 #{$ax15};
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: #{$ax10};
}
