@import '../../global/variables.scss';
@import '../../global/functions.scss';
.contact img {
	max-width: 100%;
}

.contact .form__message {
	align-items: flex-start;
}

.contact .icon-success {
	margin-top: #{$ax2};
}

.contact .field {
	margin-bottom: #{$ax15};
}

.contact__button {
	margin-top: 3rem;
}
