@import '../../global/variables.scss';
@import '../../global/functions.scss';

@include media-query($s-up) {
	.contact .field {
		margin-bottom: #{$ax20};
	}

	.contact__button {
		margin-top: #{$ax40};
	}

	.contact__fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: #{$ax20};
	}
}
