@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.predictive-search {
		border-top: none;
		width: calc(100% + 0.2rem);
	}

	.header predictive-search {
		position: relative;
	}

	.predictive-search__results-groups-wrapper--no-products
		.predictive-search__result-group:nth-child(2),
	.predictive-search__result-group:last-child .predictive-search__pages-wrapper {
		display: none;
	}
	.predictive-search__result-group:first-child .predictive-search__pages-wrapper {
		display: initial;
	}
	.predictive-search__result-group:first-child {
		flex: 0 0 26.4rem;
	}
	.predictive-search__results-groups-wrapper--no-products
		.predictive-search__result-group:first-child,
	.predictive-search__result-group:only-child {
		flex-grow: 1;
	}

	.predictive-search__item--term {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
