@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.banner--content-align-right .banner__box {
		text-align: right;
	}

	.banner--content-align-left .banner__box {
		text-align: left;
	}

	.banner--content-align-left.banner--desktop-transparent .banner__box,
	.banner--content-align-right.banner--desktop-transparent .banner__box,
	.banner--medium.banner--desktop-transparent .banner__box {
		max-width: ax(680);
	}

	.banner {
		flex-direction: row;
	}

	.banner--small:not(.banner--adapt) {
		min-height: ax(420);
	}

	.banner--medium:not(.banner--adapt) {
		min-height: ax(560);
	}

	.banner--large:not(.banner--adapt) {
		min-height: ax(720);
	}

	.banner__content.banner__content--top-left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.banner__content.banner__content--top-center {
		align-items: flex-start;
		justify-content: center;
	}

	.banner__content.banner__content--top-right {
		align-items: flex-start;
		justify-content: flex-end;
	}

	.banner__content.banner__content--middle-left {
		align-items: center;
		justify-content: flex-start;
	}

	.banner__content.banner__content--middle-center {
		align-items: center;
		justify-content: center;
	}

	.banner__content.banner__content--middle-right {
		align-items: center;
		justify-content: flex-end;
	}

	.banner__content.banner__content--bottom-left {
		align-items: flex-end;
		justify-content: flex-start;
	}

	.banner__content.banner__content--bottom-center {
		align-items: flex-end;
		justify-content: center;
	}

	.banner__content.banner__content--bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	}

	.banner__media {
		height: 100%;
	}

	.banner__content {
		padding: #{$ax50};
	}

	.banner__content--top-left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.banner__content--top-center {
		align-items: flex-start;
		justify-content: center;
	}

	.banner__content--top-right {
		align-items: flex-start;
		justify-content: flex-end;
	}

	.banner__content--middle-left {
		align-items: center;
		justify-content: flex-start;
	}

	.banner__content--middle-center {
		align-items: center;
		justify-content: center;
	}

	.banner__content--middle-right {
		align-items: center;
		justify-content: flex-end;
	}

	.banner__content--bottom-left {
		align-items: flex-end;
		justify-content: flex-start;
	}

	.banner__content--bottom-center {
		align-items: flex-end;
		justify-content: center;
	}

	.banner__content--bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	}

	.banner--desktop-transparent .banner__box {
		background: transparent;
		max-width: ax(890);
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	.banner--desktop-transparent .button--secondary {
		--alpha-button-background: 0;
	}

	.banner--desktop-transparent .content-container:after {
		display: none;
	}

	.banner__box > * + .banner__text {
		margin-top: #{$ax20};
	}

	.banner__box {
		width: auto;
		max-width: ax(710);
		min-width: ax(450);
	}

	.banner--content-align-center .banner__buttons--multiple > * {
		flex-grow: 1;
		min-width: #{ax(220)};
	}

	.banner--content-align-right .banner__buttons--multiple {
		justify-content: flex-end;
	}

	.banner--desktop-transparent .rte a,
	.banner--desktop-transparent .inline-richtext a:hover,
	.banner--desktop-transparent .rte a:hover {
		color: currentColor;
	}
}
@media screen and (min-width: 1400px) {
	.banner__box {
		max-width: ax(900);
	}
}
