@import '../../global/variables.scss';
@import '../../global/functions.scss';
.pagination-wrapper {
	margin-top: #{$ax40};
}

.pagination__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination__list > li {
	flex: 1 0 #{$ax44};
	max-width: #{$ax44};
}

.pagination__list > li:not(:last-child) {
	margin-right: #{$ax10};
}

.pagination__item {
	color: rgb(#{$schemaColorForeground});
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: #{$ax44};
	width: 100%;
	padding: 0;
	text-decoration: none;
}

a.pagination__item:hover::after {
	height: #{$ax1};
}

.pagination__item .icon-caret {
	height: #{$ax6};
}

.pagination__item--current::after {
	height: #{$ax1};
}

.pagination__item--current::after,
.pagination__item:hover::after {
	content: '';
	display: block;
	width: #{$ax20};
	position: absolute;
	bottom: #{$ax8};
	left: 50%;
	transform: translateX(-50%);
	background-color: currentColor;
}

.pagination__item--next .icon {
	margin-left: #{ax(-2)};
	transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
	transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
	margin-right: #{ax(-2)};
	transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
	transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
	display: none;
}
