@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-up) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}
@include media-query($s-up) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
  }
}
@include media-query($s-up) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}
@include media-query($s-up) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@include media-query($s-up) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }
  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
}
@include media-query($s-up) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}
@include media-query($s-up) {
  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}
@include media-query($s-up) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}
@include media-query($s-up) {
  .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center) .footer__copyright {
    text-align: right;
  }
}

@include media-query($s-up) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}
@include media-query($s-up) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(#{$schemaColorForeground});
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}
@include media-query($s-up) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: 1.4rem;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}
@include media-query($s-up) {
  .policies li a {
    padding: 0;
  }
}
@supports not (inset: 10px) {
  @include media-query($s-up) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}
@include media-query($m-up) {
  .footer-block__heading {
    font-size: calc(#{$fontHeadingScale} * 1.8rem);
  }
}
