{%- liquid
	capture spacing
		render 'ucoast-spacing', settings: section.settings
	endcapture
-%}

<div class="page-width page-width--narrow {{ spacing }}">
	<h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
		{{ page.title | escape }}
	</h1>
	<div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
		{{ page.content }}
	</div>
</div>

{% schema %}
	{
		"name": "t:sections.main-page.name",
		"tag": "section",
		"class": "section",
		"settings": [
			{
				"type": "header",
				"content": "t:sections.all.spacing"
			},
			{
				"type": "range",
				"id": "space_above",
				"label": "Space Above",
				"info": "Set to -1 to disable space above",
				"min": 0,
				"max": 10,
				"default": 4,
				"unit": "spc",
				"step": 1
			},
			{
				"type": "range",
				"id": "mobile_space_above",
				"label": "Mobile Space Above",
				"min": -1,
				"max": 10,
				"step": 1,
				"default": -1,
				"info": "Leave as '-1' to use the same value as the desktop setting."
			}
		]
	}
{% endschema %}
