@import "../../global/variables.scss";
@import "../../global/functions.scss";
.blog-articles {
  display: grid;
  grid-gap: #{$ax10};
  column-gap: #{$xSpacingMobile};
  row-gap: #{$ySpacingMobile};
}

.blog-articles .card-wrapper {
  width: 100%;
}




