@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.collapsible-section-layout {
		padding-bottom: ax(70);
		padding-top: ax(70);
	}

	.collapsible-content__media--portrait {
		height: ax(314);
	}

	.collapsible-content__media--landscape {
		height: auto;
		width: 100%;
	}

	.collapsible-content__grid--reverse {
		flex-direction: row-reverse;
	}

	.collapsible-content__heading {
		margin-bottom: #{$ax30};
	}

	.collapsible-content .accordion {
		margin-top: 0;
	}
}
@supports not (inset: 10px) {
	@include media-query($s-up) {
		.collapsible-content__grid:not(.collapsible-content__grid--reverse) .grid__item:last-child,
		.collapsible-content__grid--reverse .collapsible-content__grid-item {
			padding-left: #{$ax50};
			padding-right: 0;
		}
	}
	@include media-query($m-up) {
		.collapsible-content__grid:not(.collapsible-content__grid--reverse) .grid__item:last-child,
		.collapsible-content__grid--reverse .collapsible-content__grid-item {
			padding-left: ax(70);
		}
	}
}
