@import '../../global/variables.scss';
@import '../../global/functions.scss';
.collapsible-content {
	z-index: 0;
}

.collapsible-section-layout {
	padding-bottom: 5rem;
	padding-top: 5rem;
}


.collapsible-content__media--small {
	height: 19.4rem;
}

.collapsible-content__media--large {
	height: 43.5rem;
}

.collapsible-content-wrapper-narrow {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: 73.4rem;
}

.collapsible-content__header {
	word-break: break-word;
}

.collapsible-content__heading {
	margin-bottom: 2rem;
	margin-top: 0;
}

.collapsible-none-layout .accordion + .accordion {
	border-top: 0;
}

.collapsible-row-layout .accordion:not(:first-child):not(.color-background-1) {
	margin-top: 1rem;
}

.caption-with-letter-spacing + h2 {
	margin-top: 1rem;
}

.collapsible-row-layout .accordion {
	border: #{$textBoxesBorderWidth} solid
		rgba(#{$schemaColorForeground}, #{$textBoxesBorderOpacity});
	margin-bottom: 1.5rem;
	/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
	transform: perspective(0);
}

.collapsible-row-layout .accordion summary,
.collapsible-row-layout .accordion .accordion__content {
	padding: 1.5rem;
}

.collapsible-row-layout .accordion .accordion__content {
	padding-top: 0;
}

.collapsible-content summary:hover {
	background: rgba(#{$schemaColorForeground}, 0.04);
}

.collapsible-content summary:hover .accordion__title {
	text-decoration: underline;
	text-underline-offset: 0.3rem;
}
