@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-up) {
  .newsletter__wrapper {
    padding-right: #{ax(90)};
    padding-left: #{ax(90)};
  }
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 #{$ax10};
  }
}
