@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.card__information {
		padding-bottom: 1.7rem;
		padding-top: 1.7rem;
	}

	.card--horizontal .card__heading,
	.card--horizontal .price__container .price-item,
	.card--horizontal__quick-add {
		font-size: calc(#{$fontHeadingScale} * 1.3rem);
	}
}
@include media-query($m-up) {
	.card .media.media--hover-effect > img:only-child,
	.card-wrapper .media.media--hover-effect > img:only-child {
		transition: transform var(--duration-long) ease;
	}

	.card:hover .media.media--hover-effect > img:first-child:only-child,
	.card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
		transform: scale(1.03);
	}

	.card-wrapper:hover .media.media--hover-effect > img:first-child:not(:only-child) {
		opacity: 0;
	}

	.card-wrapper:hover .media.media--hover-effect > img + img {
		opacity: 1;
		transition: transform var(--duration-long) ease;
		transform: scale(1.03);
	}

	.underline-links-hover:hover a {
		text-decoration: underline;
		text-underline-offset: 0.3rem;
	}
}
