@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.complementary-slide > ul {
		gap: var(--grid-desktop-vertical-spacing);
	}

	.complementary-slide.complementary-slide--standard > ul {
		gap: calc(var(--grid-desktop-vertical-spacing) + 8px);
	}

	.complementary-products__container .price--on-sale .price-item--regular {
		font-size: 1.3rem;
	}
}
