@import '../../global/variables';
@import '../../global/functions';
.cart-notification-wrapper {
	position: relative;
}

.cart-notification-wrapper .cart-notification {
	display: block;
}

.cart-notification {
	border-bottom-right-radius: #{$popupCornerRadius};
	border-bottom-left-radius: #{$popupCornerRadius};
	border-color: rgba(#{$schemaColorForeground}, #{$popupBorderOpacity});
	border-style: solid;
	border-width: 0 0 #{$popupBorderWidth};
	padding: #{$ax25} #{$ax35};
	position: absolute;
	right: 0;
	transform: translateY(-100%);
	visibility: hidden;
	width: 100%;
	box-shadow: $comboPopupContentShadow;
	z-index: -1;
}

.cart-notification.focused {
	box-shadow: $comboPopupFocusShadow, $comboPopupShadow;
}

.cart-notification:focus-visible {
	box-shadow: $comboPopupFocusShadow, $comboPopupShadow;
}

.cart-notification.animate {
	transition: transform var(--duration-short) ease, visibility 0s var(--duration-short) ease;
}

.cart-notification.active {
	transform: translateY(0);
	transition: transform var(--duration-default) ease, visibility 0s;
	visibility: visible;
}

.cart-notification__header {
	align-items: flex-start;
	display: flex;
}

.cart-notification__heading {
	align-items: center;
	display: flex;
	flex-grow: 1;
	margin-bottom: 0;
	margin-top: 0;
}

.cart-notification__heading .icon-checkmark {
	color: rgb(#{$schemaColorForeground});
	margin-right: #{$ax10};
	width: #{$ax13};
}

.cart-notification__close {
	margin-top: ax(-20);
	margin-right: ax(-30);
}

.cart-notification__links {
	text-align: center;
}

.cart-notification__links > * {
	margin-top: #{$ax10};
}

.cart-notification-product {
	align-items: flex-start;
	display: flex;
	padding-bottom: #{$ax30};
	padding-top: #{$ax20};
}

.cart-notification-product dl {
	margin-bottom: 0;
	margin-top: 0;
}

.cart-notification-product__image {
	display: inline-flex;
	margin-right: #{$ax15};
	margin-top: #{$ax5};
}

.cart-notification-product__image:after {
	content: none;
}

.cart-notification-product__name {
	margin-bottom: #{$ax5};
	margin-top: 0;
}
