@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-up) {
  .menu-drawer {
    width: ax(400);
    border-width: 0 #{$drawerBorderWidth} 0 0;
    border-style: solid;
    border-color: rgba(#{$schemaColorForeground}, #{$drawerBorderOpacity});
  }

  .no-js .menu-drawer {
    height: auto;
  }
}
