@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-up) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }

  .no-js .menu-drawer {
    height: auto;
  }
}
