@import '../../global/variables.scss';
@import '../../global/functions.scss';
.collection-hero__inner {
	display: flex;
	flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
	margin-bottom: 0;
	padding-bottom: #{$ax20};
}

.collection-hero__text-wrapper {
	flex-basis: 100%;
}

.collection-hero__title {
	margin: #{$ax25} 0;
}

.collection-hero__title + .collection-hero__description {
	margin-top: #{$ax15};
	margin-bottom: #{$ax15};
	font-size: #{$ax16};
	line-height: calc(1 + 0.5 / #{$fontBodyScale});
}

.collection-hero--with-image .collection-hero__title {
	margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
	padding: #{$ax50} 0 #{$ax40};
}

.collection-hero__image-container {
	border: #{$mediaBorderWidth} solid
		rgba(#{$schemaColorForeground}, #{$mediaBorderOpacity});
	border-radius: #{$mediaRadius};
	box-shadow: #{$mediaShadowHorizontalOffset} #{$mediaShadowVerticalOffset}
		#{$mediaShadowBlurRadius} rgba(#{$schemaColorShadow}, #{$mediaShadowOpacity});
}

@include media-query($s-down) {
	.collection-hero__image-container {
		height: #{ax(200)};
	}
}
