@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.collection-hero.collection-hero--with-image {
		padding: calc(4rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
		overflow: hidden;
	}

	.collection-hero--with-image .collection-hero__inner {
		padding-bottom: 0;
	}

	.collection-hero {
		padding: 0;
	}

	.collection-hero__inner {
		align-items: center;
		flex-direction: row;
		padding-bottom: 0;
	}

	.collection-hero__title + .collection-hero__description {
		font-size: 1.8rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.collection-hero__description {
		max-width: 66.67%;
	}

	.collection-hero--with-image .collection-hero__description {
		max-width: 100%;
	}

	.collection-hero--with-image .collection-hero__text-wrapper {
		padding: 4rem 2rem 4rem 0;
		flex-basis: 50%;
	}

	.collection-hero__image-container {
		align-self: stretch;
		flex: 1 0 50%;
		margin-left: 3rem;
		min-height: 20rem;
	}
}
