@import '../../global/variables.scss';
@import '../../global/functions.scss';
.collection-hero__inner {
	display: flex;
	flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
	margin-bottom: 0;
	padding-bottom: 2rem;
}

.collection-hero__text-wrapper {
	flex-basis: 100%;
}

.collection-hero__title {
	margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
	line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.collection-hero--with-image .collection-hero__title {
	margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
	padding: 5rem 0 4rem;
}

.collection-hero__image-container {
	border: var(--media-border-width) solid
		rgba(var(--color-foreground), var(--media-border-opacity));
	border-radius: var(--media-radius);
	box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset)
		var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@include media-query($s-down) {
	.collection-hero__image-container {
		height: 20rem;
	}
}
