@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.collection-hero.collection-hero--with-image {
		padding: calc(#{$ax40} + #{$pageWidthMargin}) 0 calc(#{$ax40} + #{$pageWidthMargin});
		overflow: hidden;
	}

	.collection-hero--with-image .collection-hero__inner {
		padding-bottom: 0;
	}

	.collection-hero {
		padding: 0;
	}

	.collection-hero__inner {
		align-items: center;
		flex-direction: row;
		padding-bottom: 0;
	}

	.collection-hero__title + .collection-hero__description {
		font-size: #{$ax18};
		margin-top: #{$ax20};
		margin-bottom: #{$ax20};
	}

	.collection-hero__description {
		max-width: 66.67%;
	}

	.collection-hero--with-image .collection-hero__description {
		max-width: 100%;
	}

	.collection-hero--with-image .collection-hero__text-wrapper {
		padding: #{$ax40} #{$ax20} #{$ax40} 0;
		flex-basis: 50%;
	}

	.collection-hero__image-container {
		align-self: stretch;
		flex: 1 0 50%;
		margin-left: #{$ax30};
		min-height: #{ax(200)};
	}
}
