@import '../../global/variables.scss';
@import '../../global/functions.scss';

@include media-query($s-up) {
	.slideshow--placeholder.banner--adapt_image {
		height: ax(560);
	}

	.slideshow__text.slideshow__text--left {
		align-items: flex-start;
		text-align: left;
	}

	.slideshow__text.slideshow__text--right {
		align-items: flex-end;
		text-align: right;
	}

	.slideshow__text-wrapper.banner__content {
		height: 100%;
		padding: #{$ax50};
	}

	.slideshow__controls {
		position: relative;
	}
	.slideshow__autoplay.slider-button {
		position: inherit;
		margin-left: #{$ax6};
		padding: 0 0 0 #{$ax6};
		border-left: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.08);
	}
}
