@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($m-only) {
  .cart-item cart-remove-button {
    width: #{$ax45};
    height: #{$ax45};
  }
}
@include media-query($s-up) {
  cart-remove-button .button {
    min-width: #{$ax35};
    min-height: #{$ax35};
  }
  .cart-item .loading-overlay {
    right: 0;
    padding-top: #{$ax45};
    bottom: auto;
  }
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items th {
    border-bottom: #{$ax1} solid rgba(#{$schemaColorForeground}, 0.08);
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items td {
    vertical-align: top;
    padding-top: 4rem;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 4rem;
  }

  .cart-item__details {
    width: 35rem;
  }

  .cart-item__media {
    width: #{ax(100)};
  }

  .cart-item cart-remove-button {
    margin: #{$ax5} 0 0 #{$ax15};
  }

  .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
    margin-top: 1rem;
  }
}
@include media-query($m-up) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 6rem;
  }

  .cart-item__details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}
