{% layout 'none' %}

<!doctype html>
<html lang='en'>
<head>
    <meta name='robots' content='noindex'>
</head>
<body class='{{ template.suffix }} {{template.name}}'>
<script type='text/javascript'>
	window.location.href = '/?open=cart';
</script>
</body>
</html>
