@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.article-template > *:first-child:not(.article-template__hero-container) {
		margin-top: calc(5rem + #{$pageWidthMargin});
	}
	.article-template header {
		margin-top: 5rem;
	}

	.article-template__comment-wrapper {
		margin-top: 6rem;
		padding: #{$ax36} 0;
	}

	.article-template__comments {
		margin-bottom: 7rem;
	}

	.article-template__comments-comment {
		padding: 2rem #{$ax25};
	}

	.article-template__comment-fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 4rem;
	}
}
@include media-query($m-only) {
	.article-template__hero-small {
		height: #{ax(220)};
	}

	.article-template__hero-medium {
		height: 44rem;
	}

	.article-template__hero-large {
		height: 66rem;
	}
}
@include media-query($m-up) {
	.article-template__hero-small {
		height: ax(275);
	}

	.article-template__hero-medium {
		height: 55rem;
	}

	.article-template__hero-large {
		height: #{ax(825)};
	}
	.article-template__comments .pagination-wrapper {
		margin: 5rem 0 8rem;
	}
}
