@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($m-up) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}
