@import "../../global/variables.scss";
@import "../../global/functions.scss";
.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: #{ax(110)};
}

.article-template__hero-medium {
  height: #{ax(220)};
}

.article-template__hero-large {
  height: ax(330);
}

.article-template header {
  margin-top: #{$ax44};
  margin-bottom: #{$ax20};
  line-height: calc(0.8 / #{$fontBodyScale});
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: #{$ax18};
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: #{$ax30};
  margin-bottom: #{$ax30};
}

.article-template__social-sharing {
  margin-top: #{$ax30};
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: #{$ax15};
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: #{$ax27} 0;
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

.article-template__comments-fields {
  margin-bottom: #{$ax40};
}

.article-template__comments-comment {
  color: rgba(#{$schemaColorForeground}, 0.75);
  background-color: rgb(#{$schemaColorBackground});
  margin-bottom: #{$ax15};
  padding: #{$ax20} #{$ax20} #{$ax15};
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: #{$ax30};
}

.article-template__comment-warning {
  margin: #{$ax20} 0 #{$ax25};
}

.article-template__back:last-child {
  margin-bottom: #{$ax32};
}
