@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($s-up) {
  .email-signup-banner:not(.banner--desktop-transparent) .email-signup-banner__box {
    width: 100%;
  }
}
@include media-query($s-up) {
  .banner--desktop-transparent .email-signup-banner__box--no-image * {
    color: rgb(#{$schemaColorForeground});
  }

  .banner--desktop-transparent .email-signup-banner__box .field__input {
    background-color: transparent;
  }

  .banner--desktop-transparent .email-signup-banner__box--no-image .field__input {
    box-shadow: 0 0 0 0.1rem rgba(#{$schemaColorForeground}, 0.55);
  }

  .banner--desktop-transparent .email-signup-banner__box--no-image .field__input:focus {
    box-shadow: 0 0 0 0.2rem rgba(#{$schemaColorForeground}, 0.75);
  }

  .banner--desktop-transparent .email-signup-banner__box--no-image .field__button:focus-visible {
    outline: 0.2rem solid rgba(#{$schemaColorForeground}, 0.5);
    box-shadow: 0 0 0 0.3rem rgb(#{$schemaColorBackground}), 0 0 0.5rem 0.4rem rgba(#{$schemaColorForeground}, 0.3);
  }
  .email-signup-banner-background-mobile {
    display: none;
  }
}
