@import '../styles/global/critical-css/critical-css.s-up.scss';
@include media-query($s-up) {
  :root {
    --ax: #{$desktopBaseScale};
    --x-spacing: #{$xSpacingDesktop};
    --announcement-height: calc(var(--ax) * 27);
    --header-height: calc(var(--ax) * 73);
    --viewport-minus-header: calc(var(--viewport-height) - var(--header-height));
  }
}
@include media-query($s-up) {
  .sa-1 {
    margin-top: calc(#{$sectionSpacingDesktop} / 2);
  }

  .sa-2 {
    margin-top: $sectionSpacingDesktop;
  }

  .sa-3 {
    margin-top: calc(#{$sectionSpacingDesktop} * 1.5);
  }

  .sa-4 {
    margin-top: calc(#{$sectionSpacingDesktop} * 2);
  }

  .sa-5 {
    margin-top: calc(#{$sectionSpacingDesktop} * 2.5);
  }

  .sa-6 {
    margin-top: calc(#{$sectionSpacingDesktop} * 3);
  }

  .sa-7 {
    margin-top: calc(#{$sectionSpacingDesktop} * 3.5);
  }

  .sa-8 {
    margin-top: calc(#{$sectionSpacingDesktop} * 4);
  }

  .sa-9 {
    margin-top: calc(#{$sectionSpacingDesktop} * 4.5);
  }

  .sa-10 {
    margin-top: calc(#{$sectionSpacingDesktop} * 5);
  }

  .sb-1 {
    margin-bottom: calc(#{$sectionSpacingDesktop} / 2);
  }

  .sb-2 {
    margin-bottom: $sectionSpacingDesktop;
  }

  .sb-3 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 1.5);
  }

  .sb-4 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 2);
  }

  .sb-5 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 2.5);
  }

  .sb-6 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 3);
  }

  .sb-7 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 3.5);
  }

  .sb-8 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 4);
  }

  .sb-9 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 4.5);
  }

  .sb-10 {
    margin-bottom: calc(#{$sectionSpacingDesktop} * 5);
  }
}
