@import '../../global/variables.scss';
@import '../../global/functions.scss';
@include media-query($s-up) {
	.customer:not(.account):not(.order) {
		max-width: 47.8rem;
	}

	.customer h2.form__message {
		font-size: calc(#{$fontHeadingScale} * 2.2rem);
	}

	.customer table {
		border: none;
		box-shadow: 0 0 0 0.1rem rgba(#{$schemaColorForeground}, 0.08);
	}

	.customer td {
		padding-right: 2.2rem;
	}

	.customer th,
	.customer td:first-of-type {
		text-align: left;
		padding-left: 0;
		padding-right: 2.2rem;
	}

	.customer thead th,
	.customer tbody td {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
	}

	.customer th:first-of-type,
	.customer td:first-of-type {
		padding-left: 2.2rem;
	}

	.customer tbody td {
		vertical-align: top;
	}

	.customer tbody td:first-of-type {
		padding-top: 2.4rem;
	}

	.customer tbody td:last-of-type {
		padding-bottom: 0;
	}

	.customer tbody tr:first-of-type {
		border-top: none;
	}

	.customer tfoot tr:first-of-type td,
	.customer tfoot tr:first-of-type th {
		padding-top: 2.4rem;
	}

	.customer tfoot tr:last-of-type td,
	.customer tfoot tr:last-of-type th {
		padding-bottom: 2.4rem;
	}

	.activate button[name='decline'] {
		margin-top: inherit;
		margin-left: 1rem;
	}

	:is(.account, .order) {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}
@include media-query($m-only) {
	.order > div:nth-of-type(2) > div:last-of-type {
		display: flex;
	}

	.order > div:nth-of-type(2) > div:last-of-type div {
		padding-right: 3.2rem;
	}
}
@include media-query($s-up) {
	.account thead th:last-child,
	.account td:last-child {
		text-align: right;
	}

	.account table td:first-of-type {
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.order thead th:nth-last-child(-n + 3),
	.order td:nth-last-child(-n + 3) {
		text-align: right;
	}

	.order tfoot tr:last-of-type td,
	.order tfoot tr:last-of-type th {
		padding-bottom: 2.4rem;
	}

	.order td .cart-discount {
		display: none;
	}

	.order tbody ul {
		text-align: left;
	}

	.order tbody tr:first-of-type td:first-of-type > div {
		align-items: flex-start;
	}

	.addresses li > button:first-of-type {
		margin-top: 3rem;
	}

	li[data-address] > h2 {
		font-size: calc(#{$fontHeadingScale} * 2.2rem);
	}

	.addresses form > div:nth-of-type(1) {
		margin-right: 2rem;
	}

	.addresses form > div:nth-of-type(2) {
		margin-top: 0;
	}

	.addresses form > div:nth-of-type(1),
	.addresses form > div:nth-of-type(2) {
		box-sizing: border-box;
		flex-basis: calc(50% - 1rem);
	}
}
