@import "../../global/variables.scss";
@import "../../global/functions.scss";
@include media-query($m-up) {
  .customer .pagination {
    margin-top: 7rem;
    margin-bottom: 10rem;
  }
}
@include media-query($m-up) {
  :is(.account, .order) > div:nth-of-type(2) {
    display: flex;
    margin-top: 5rem;
  }
}

@include media-query($m-up) {
  :is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
    flex-grow: 1;
    padding-right: 3.2rem;
  }
}
@include media-query($m-up) {
  :is(.account, .order) h2 {
    margin-top: 0;
  }
}
